.page-title {
    font-size: 30px;
    margin-top: 5px;
    color: white;
}



.entry {
    visibility: hidden;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    height: 90px;
    transition: all .18s ease-in-out;
    gap: 20px;
}
.entry:hover {
    transform: scale(1.02);
    cursor: pointer;
}
.entry > img {
    height: 60px;
    border-radius: 10px;
    image-rendering: pixelated;
}
.entry > h1 {
    text-shadow: 1px 1px 4px black;
    font-size: 45px;
    color: white;
}
.entry > i {
    font-size: 20px;
    color: white;
    margin-left: auto;
}
.entry .username {
    text-align: left;
    color: white;
    font-size: 21px;
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.stat {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 6px;
}
.stat > .value {
    margin: 0px;
    font-size: 19px;
    color: white;
}
.stat > .label {
    margin: 0px;
    font-size: 13px;
    color: var(--grey);
}



.bar {
    border-bottom: 3px solid var(--green); 
    width: 100%;
    position: relative;
    margin: 0px 15px;
    margin-right: 20px;
    transform: translateY(20px);
}
.bar > div {
    position: absolute;
    bottom: -9px; 
    height: 16px; 
    width: 16px; 
    background: var(--green); 
    border-radius: 100%;
    filter: drop-shadow(0 0 1rem rgb(12, 12, 12));
}
.bar > div > h1 {
    margin: 0px;
    margin-left: -100%;
    margin-right: -100%;
    text-align: center;
    transform: translateY(-42px);
    color: var(--grey);
    font-size: 15px;
    text-shadow: 1px 1px 4px black;
}
.bar > div > h1#value {
    color: white;
    font-size: 16px;
}
.bar > div#none > h1#value {
    transform: translateY(-22px);
}
#none {
    z-index: 2;
}
#best {
    z-index: 3;
    left: calc(100% - 16px);
}
#you {
    left: calc(50% - 18px);
    z-index: 100;
}