.page-title {
    font-size: 35px;
    color: white;
}



.entry {
    visibility: hidden;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    height: 90px;
    transition: all .18s ease-in-out;
    gap: 20px;
}
.entry:hover {
    transform: scale(1.02);
    cursor: pointer;
}
.entry > img {
    height: 60px;
    border-radius: 10px;
    image-rendering: pixelated;
}
.entry > h1 {
    text-shadow: 1px 1px 4px black;
    font-size: 45px;
    color: white;
    margin: 0px;
    margin-left: -15px;
    margin-right: -15px;
    min-width: 60px;
}
.entry > i {
    font-size: 20px;
    color: white;
    margin-left: auto;
    display: none;
}
.entry .username {
    text-align: left;
    color: white;
    font-size: 21px;
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.stat {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 6px;
}
.stat > .value {
    margin: 0px;
    font-size: 19px;
    color: white;
}
.stat > .label {
    margin: 0px;
    font-size: 13px;
    color: var(--grey);
}



.bar {
    display: none;
    border-bottom: 3px solid var(--green); 
    width: 100%;
    position: relative;
    margin: 0px 15px;
    margin-right: 20px;
    transform: translateY(20px);
}
.bar > div {
    position: absolute;
    bottom: -9px; 
    height: 16px; 
    width: 16px; 
    background: var(--green); 
    border-radius: 100%;
    filter: drop-shadow(0 0 1rem rgb(12, 12, 12));
}
.bar > div > h1 {
    margin: 0px;
    margin-left: -100%;
    margin-right: -100%;
    text-align: center;
    transform: translateY(-42px);
    color: var(--grey);
    font-size: 15px;
    text-shadow: 1px 1px 4px black;
}
.bar > div > h1#value {
    color: white;
    font-size: 16px;
}
.bar > div#none > h1#value {
    transform: translateY(-22px);
}
#none {
    z-index: 2;
}
#best {
    z-index: 3;
    left: calc(100% - 16px);
}
#you {
    left: calc(50% - 18px);
    z-index: 100;
}



@media only screen and (min-width: 950px) {
    .bar {
        display: block;
    }
    .entry > i {
        display: block;
    }
}










.top-3-container {
    height: 150px;
    width: 150px;
    position: relative;
}
.top-3-container > div {
    background-color: var(--grey);
    width: 40px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}
.top-3-container > div:nth-child(1) { // 2nd
    height: 65px;
    transform: translateX(-66px);
}
.top-3-container > div:nth-child(2) { // 1st
    height: 100px;
}
.top-3-container > div:nth-child(3) { //3rd
    height: 28px;
    transform: translateX(26px);
}

.top-3-container > div > h1 {
    margin: 0px;
    margin-top: -35px;
    font-size: 15px;
    color: white;
}
.top-3-container > div > img {
    transform: translateY(-42px);
    height: 20px;
    image-rendering: pixelated;
    border-radius: 2px;
    // animation: shake 4s;
    // animation-iteration-count: infinite;

    // @for $i from 1 through 3 {
    //     &:nth-child(#{$i}) {
    //       animation-delay: 100ms * $i;
    //     }
    // }
}