<head>
    <link rel="stylesheet" href="/MCBB-Stats-Page/css/pages/stats/general-stats.css">
</head>



<!-- General Box -->
<div animate class="general box">
    <div style="display: flex; justify-content: flex-start">

        <canvas id="skin_container" class="g-character"></canvas>
        <script src="https://bs-community.github.io/skinview3d/js/skinview3d.bundle.js"></script>
        <script src="/MCBB-Stats-Page/js/pages/stats/skin.js"></script>

        <div> 
            <h1 class="g-name">Stats for USERNAME</h1>
            <h1 class="g-uuid" onclick="copy(this)">UUID</h1>

            <hr class="g-line">

            <h1 class="g-stats-label">Last Online: <span id='gs-last_online' class="g-stats-value">LAST_ONLINE</span></h1>
            <h1 class="g-stats-label">Current Location: <span id='gs-current_loc' class="g-stats-value">CURRENT_LOC</span></h1>
            <h1 class="g-stats-label">Rank: <span id='gs-rank' class="g-stats-value">RANK</span></h1>
            <h1 class="g-stats-label">First Joined: <span id='gs-first_joined' class="g-stats-value">FIRST_JOINED</span></h1>
        </div>

    </div>
</div>



<!-- Badges Box -->
<div animate class="badges box">
    <h1 class="title">Badges</h1>
</div>



<script src="/MCBB-Stats-Page/js/pages/stats/general-stats.js"></script>