<link rel="stylesheet" href="/css/global/global.css">
<link rel="stylesheet" href="/css/pages/stats/stats.css">
<link rel="stylesheet" href="/css/pages/stats/stats-grid.css">
<link id="favicon" rel="icon" type="image/x-icon">
<script src="https://kit.fontawesome.com/56772e7f1a.js" crossorigin="anonymous"></script>
<meta charset="UTF-8">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Steve | MCBB Stats</title>