<head>
    <link rel="stylesheet" href="/MCBB-Stats-Page/css/pages/stats/inventory.css">
</head>



<div class="i-container">

    <!-- Type Selector -->
    <div class="i-type-container">
        <div>
            <i class="fa-solid fa-toolbox"></i>
            <h1>Inventory</h1>
        </div>
        <div>
            <i class="fa-solid fa-toolbox"></i>
            <h1>Ender Chest</h1>
        </div>
    </div>

    <!-- TEMPLATE: I Slot -->
    <div id="i-0" class="i-slot tooltipparent">
        <img class="i-icon" src="/MCBB-Stats-Page/assets/images/apple.png"></img>

        <span class="tooltip loretooltip">
            <div>Title</div>
            <h1>Beans are good</h1>
            <h1>I liek beans</h1>
        </span>
    </div>

</div>



<script src="/MCBB-Stats-Page/js/pages/stats/inventory.js"></script>