.a-title {
    font-size: 19px;
    text-align: center;
    color: white;
    padding: 0px 13px;
}
.a-description {
    text-align: center;
    color: var(--grey);
    font-weight: 500;
    font-size: 15px;
    padding: 0px 15px;
}


.username-input {
    background-color: var(--grey2);
    color: white;
    font-family: var(--font);
    border: 0;
    padding: 0px;
    height: 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
    font-weight: bold;
    width: 100%;
}
.username-input-error {
    animation: shake 0.4s;
}


.submit-button {
    font-family: var(--font);
    background-color: var(--green);
    margin: 20px;
    padding: 20px 25px;
    border-radius: 35px;
    transition: all .3s ease-in-out;
}
.submit-button:hover {
    background-color: var(--green-hover);
    transform: scale(1.02);
}


.top-players-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    overflow: visible;
}
.tp-item {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    flex-grow: 1;
    padding: 20px;
    cursor: pointer;
    transition: all .18s ease-in-out;
}
.tp-item:hover {
    transform: scale(1.03);
}
.tp-main {
    font-size: 18px;
    text-align: left;
    color: white;
    font-weight: bold;
    display: inline;
    margin: 0px;
    vertical-align: top;
}
.tp-sub {
    font-size: 14px;
    color: var(--grey);
}
.tp-value {
    font-size: 17px;
    color: var(--grey);
}

.username-error {
    width: 100%;
    background-color: rgb(255, 51, 51);
    color: white;
    font-size: 17px;
    opacity: 0;
    transition-duration: 0.5s;
}

.username-error-visible {
    padding: 7px 0px;
    opacity: 1;
    animation: shake 0.4s;
}

.tcp-parent {
    overflow: visible;
}


.leaderboard-links-container {
    text-align: left;
    margin-bottom: 12px;
    overflow: scroll;
    white-space: nowrap;
}

.lbl-button {
    padding: 9px 12px;
    vertical-align: middle;
}

::-webkit-scrollbar {
    display: none;
}

.lbl-button > i {
    margin-left: 3px;
}

.lbl-button:hover {
    background-color: var(--black2);
}


/* For tablets and desktops */
@media only screen and (min-width: 550px) {
    .a-title {
      font-size: 25px;
    }
    .a-description {
      font-size: 16px;
    }
    .top-players-container {
        grid-template-columns: 1fr 1fr;
    }
}