<!-- Header -->
<header>

    <div style="flex: 10%"><img class="logo" src="/images/logo.png"></div>
    <div style="flex: 40%"><h1 class="site-name">MCBlockBuilds Stats</h1></div>

    <div style="flex: 20%">
        <button class="header-button" style="background-color: #5865F2; right: 10px;" onclick="window.open('https://mcblockbuilds.net/discord/','_blank')">
            Discord <i class="fa-brands fa-discord"></i>
        </button>
    </div>
    <div style="flex: 20%">
        <button class="header-button" style="background-color: #3a3a3a; right: 118px" onclick="window.open('https://mcblockbuilds.net/','_blank')">
            Website <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </button>
    </div>

</header>

<style>
    header {
        background-color: #282828;
        padding: 15px;
        height: 20px;
        display: flex;

        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        position: relative;
    }
    .logo {
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .site-name {
        color: #ffffff;
        font-size: 20px;
        text-align: left;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 50px;
    }
    .header-button {
        border: none;
        color: white;
        padding: 8px 11px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        border-radius: 18px;
        font-weight: bold;
        transition-duration: 0.4s;

        top: 9px;

        display: inline-block;
        position: absolute;
    }
</style>