<head>
    <link rel="stylesheet" href="/css/pages/stats/inventory.css">
</head>



<div class="i-container">

    <!-- Type Selector -->
    <div class="i-type-container">
        <div>
            <i class="fa-solid fa-toolbox"></i>
            <h1>Inventory</h1>
        </div>
        <div>
            <i class="fa-solid fa-toolbox"></i>
            <h1>Ender Chest</h1>
        </div>
    </div>

    <!-- TEMPLATE: I Slot -->
    <div id="i-0" class="i-slot tooltip">
        <img class="i-icon" src="/assets/images/apple.png"></img>

        <span class="tooltiptext">
            <h1 class="t-heading">WHAT IS IT</h1>
            <h1 id='cs-t_what' class="t-text">T_WHAT</h1>
            <h1 class="t-heading">HOW TO</h1>
            <h1 id='cs-t_how' class="t-text">T_HOW</h1>
        </span>
    </div>

</div>



<script src="/js/pages/stats/inventory.js"></script>