<head>
    <link rel="stylesheet" href="/css/pages/stats/inventory.css">
</head>



<div class="i-container">

    <div id="i-0" class="i-slot tooltip">
        <div class="i-icon" style="background-image: url('/assets/images/apple.png')"></div>

        <span class="tooltiptext" style="display:none">
            <h1 class="t-heading">Lore title</h1>
            <h1 id='os-t_what' class="t-text">lore stuff</h1>
        </span>
    </div>

</div>



<script src="/js/pages/stats/inventory.js"></script>