.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    aspect-ratio: 2;
    gap: 20px;
    padding: 20px;
  }
  
.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}