<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/global/global.css">
        <link rel="stylesheet" href="/css/pages/home/home.css">
        <link rel="stylesheet" href="/css/pages/leaderboards/leaderboard-grid.css">
        <link rel="stylesheet" href="/css/pages/leaderboards/leaderboard.css">
        <link rel="icon" type="image/x-icon" href="/assets/images/logo.png">
        <script src="https://kit.fontawesome.com/56772e7f1a.js" crossorigin="anonymous"></script>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Leaderboard | MCBB Stats</title>
    </head>
    <%- include('../../partials/_header') %>

    <body>
        <div class="grid-container">

            <div class="box section">
                <div class="top-3-container"  style="float: left">
                    <div>
                        <img>
                        <h1>2</h1>
                    </div>

                    <div>
                        <img>
                        <h1>1</h1>
                    </div>

                    <div>
                        <img>
                        <h1>3</h1>
                    </div>
                </div>
                <div class="title-container">
                    <h1 class="page-title">Leaderboard Name</h1>
                    <h1 class="page-description">Leaderboard Description</h1>
                </div>
            </div>



            <!-- Filter Chips -->
            <div class="section chip-container">

                <div class="box chip action-chip">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <h1>Search</h1>
                </div>

                <div class="box chip action-chip">
                    <h1>Filter</h1>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>

                <div class="vertical-divider"></div>

                <div class="box chip removable-chip">
                    <h1>Squid</h1>
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="box chip removable-chip">
                    <h1>Pig</h1>
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="box chip removable-chip">
                    <h1>Owner</h1>
                    <i class="fa-solid fa-xmark"></i>
                </div>

            </div>



            <!-- LB Entry -->
            <div id="e-0" class="box section entry loading">
                <h1>1</h1>
                <img src="https://crafatar.com/avatars/910b8e50-7cc3-4062-8f0a-f9fbd4a9b935?size=8&overlay">

                <div class="data" style="min-width: 170px">
                    <h1 class="username">IEatBeans</h1>
                    <div class="stat">
                        <i class="fa-solid fa-coins" style="color:rgb(255, 230, 0); font-size: 20px; margin-right: 3px;"></i>
                        <h1 class="value">135</h1>
                        <h1 class="label">Coins</h1>
                    </div>
                </div>

                <div class="bar">
                    <div id="none">
                        <h1 id="value">0</h1>
                    </div>
                    <div id="you">
                        <h1>This</h1>
                        <h1 id="value">135</h1>
                    </div>
                    <div id="best">
                        <h1>Top</h1>
                        <h1 id="value">869</h1>
                    </div>
                </div>

                <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </div>

            <div id="e-end" class="box section">
                <h1>That's all!</h1>
                <h2>You have reached the end of this leaderboard.  No more entries can be loaded.</h2>
            </div>

        

        </div>
        <script src="/js/pages/leaderboards/leaderboard.js"></script>
    </body>
</html>