.a-title {
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    padding: 0px 15px;
}
.a-description {
    text-align: center;
    color: #a5a5a5;
    font-weight: 500;
    font-size: 15px;
    padding: 0px 15px;
}
/* For tablets and desktops */
@media only screen and (min-width: 550px) {
    .a-title {
      font-size: 25px;
    }
    .a-description {
      font-size: 16px;
    }
}


.username-input {
    background-color: rgba(109, 109, 109, 0.705);
    color: white;
    border: none;
    padding: 0px;
    height: 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
    font-weight: bold;
    width: 100%;
}


.submit-button {
    background-color: var(--green);
    margin: 20px;
    padding: 20px 25px;
    border-radius: 35px;
}
.submit-button:hover {
    background-color: rgb(0, 207, 62);
}