.title {
    font-size: 19px;
    text-align: center;
    color: #ffffff;
    margin-left: 10%;
    margin-right: 10%;
}


.description {
    text-align: center;
    color: #a5a5a5;
    font-weight: 500;
    margin: 0px 12%;
    font-size: 12px;
}


.username-input {
    background-color: rgba(109, 109, 109, 0.705);
    border: none;
    padding: 0px;
    height: 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
    font-weight: bold;
    width: 100%;
}

.submit-button {
    background-color: #0BCA51;
    margin: 20px;
    padding: 20px 25px;
    border-radius: 35px;
}
.submit-button:hover {
    background-color: #45e680;
}