.i-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(4, 1);
  background-color: var(--header-black);
  width: calc(100% + 8px);
  gap: 6px;
  padding: 6px;
  margin-left: -10px;
  overflow: hidden; }

.i-slot:nth-child(n+29):nth-child(-n+100) {
  margin-top: 14px; }

.i-slot {
  background-color: var(--black2);
  border-radius: 10px;
  aspect-ratio: 1;
  box-sizing: border-box;
  overflow: hidden; }

.i-icon {
  width: 84%;
  margin: 8%;
  display: block;
  aspect-ratio: 1;
  image-rendering: pixelated;
  filter: drop-shadow(2px 2px 1px black); }

.i-type-container {
  grid-column: 1 / 10;
  display: flex;
  align-items: center;
  gap: 20px; }

.i-type-container > div {
  display: flex;
  align-items: center;
  gap: 7px;
  color: lightgrey;
  transition-duration: 0.3s; }

.i-type-container > div > i {
  font-size: 20px; }

.i-type-container > div > h1 {
  margin: 0px;
  font-size: 18px; }

.i-type-container > div:first-child {
  color: var(--green); }

.i-type-container > div:hover {
  color: var(--green-hover);
  cursor: pointer; }

/* Tablet and Desktop */
@media only screen and (min-width: 550px) {
  .i-container {
    box-sizing: border-box;
    width: calc(100% + 80px);
    gap: 7px;
    padding: 15px;
    margin-left: -40px;
    margin-right: -40px; } }

/* Tablet and Desktop */
@media only screen and (min-width: 700px) {
  .i-container {
    max-width: 732px;
    width: 100%;
    border-radius: 17px;
    margin-right: 0;
    margin-left: 10px; } }
