/* Desktop grid width */
@media only screen and (min-width: 700px) {
  .grid-container {
    width: 90%; } }

@media only screen and (min-width: 1400px) {
  .grid-container {
    width: 1300px; } }

/* For mobile */
.general {
  grid-column: 1 / 11;
  grid-row: 1 / 2; }

.badges {
  grid-column: 1 / 11;
  grid-row: 2 / 3; }

.main {
  grid-column: 1 / 11;
  grid-row: 3 / 4; }

/* For tablets and desktops */
@media only screen and (min-width: 1000px) {
  .general {
    grid-column: 1 / 7;
    grid-row: 1 / 2; }
  .badges {
    grid-column: 7 / 11;
    grid-row: 1 / 2; }
  .main {
    grid-row: 2 / 3; } }
