/* For mobile */
.general {
  grid-column: 1 / 11;
  grid-row: 1 / 2;
}
.badges {
  grid-column: 1 / 11;
  grid-row: 2 / 3;
}
.main {
  grid-column: 1 / 11;
  grid-row: 3 / 4;
}


/* For tablets and small desktops */
@media only screen and (min-width: 1000px) {
  .general {
    grid-column: 1 / 7;
    grid-row: 1 / 2;
  }
  .badges {
    grid-column: 7 / 11;
    grid-row: 1 / 2;
  }
  .main {
    grid-row: 2 / 3;
  }
}


/* For desktop */
@media only screen and (min-width: 1150px) {
  .general {
    grid-column: 2 / 7;
  }
  .badges {
    grid-column: 7 / 10;
  }
  .main {
    grid-column: 2 / 10;
  }
}