.g-name {
    font-size: 30px;
    text-align: left;
    color: #ffffff;
    margin: 10px;
}
.g-uuid {
    text-align: left;
    color: #a5a5a5;
    font-weight: 500;
    margin: 10px;
    font-size: 16px;
}


.g-line {
    border: 3px solid var(--green);
    width: 125px;
    margin: 4px 10px;
}


.g-character {
    height: 200px;
    margin: 10px;
    margin-left: 50px;
}


.g-stats-label {
    font-size: 15px;
    text-align: left;
    color: #ffffff;
    margin: 10px;
}
.g-stats-value {
    text-align: left;
    color: #a5a5a5;
    font-weight: 500;
    margin: 10px;
    font-size: 15px;
}


.heading {
    font-size: 25px;
    text-align: left;
    color: #ffffff;
    margin: 10px;
}


table {
    border-collapse: collapse;
    color:#ffffff;
    font-size: 12px;
    text-align: center;
    margin: 10px;
    width: 500px;
}
tr {
    border-bottom: 1px solid var(--grey);
    border-top: 1px solid var(--grey);
}
tr:last-child {
    border-bottom: 1px solid transparent;
}
th {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--grey);
}


.rg-details {
    border: 1px solid #00ff0000;
    color: rgb(255, 255, 255);
    background-color: #ffffff00;
    padding: 5px 8px;
    margin: 5px;
    text-align: center;
    border-radius: 18px;
    transition-duration: 0.5s;
}
.rg-details:hover {
    border: 1px solid var(--green);
}


.nav-line {
    width: 99.8%;
    border: 2px solid var(--green);
    margin: 0;
}


.more-details {
    font-size: 13px;
    margin: 5px;
    color: var(--green);
    text-decoration: underline;
}