.page-title {
  font-size: 30px;
  margin-top: 5px;
  color: white; }

.section-title {
  color: white;
  font-size: 30px;
  margin-top: 0px;
  text-align: left;
  padding-left: 10px; }

.grid-container {
  gap: 30px; }

.single-item {
  border-radius: 15px;
  background-color: black;
  padding: 15px 25px;
  height: 80px;
  display: flex;
  box-sizing: border-box;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
  transition: all .18s ease-in-out;
  filter: drop-shadow(0 0 0.6rem #161616);
  text-shadow: 2px 2px 5px black; }

.single-item > i.icon {
  font-size: 40px; }

.single-item > div {
  text-align: left; }

.single-item > div > h1 {
  color: white;
  font-size: 23px;
  margin: 0px; }

.single-item > div > h2 {
  color: gray;
  font-size: 15px;
  margin: 0px; }

.single-item > i.link {
  font-size: 25px;
  color: white;
  margin-left: auto;
  text-shadow: 2px 2px 5px black; }

.single-item:hover {
  transform: scale(1.03);
  filter: drop-shadow(0 0 0.8rem #0c0c0c);
  cursor: pointer; }

.groups-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 20px; }

.groups-item {
  position: relative;
  border-radius: 15px;
  background-color: black;
  padding: 25px;
  width: 200px;
  height: 200px;
  flex-grow: 1;
  transition: all .24s ease;
  z-index: 100;
  filter: drop-shadow(0 0 0.6rem #161616);
  text-shadow: 2px 2px 5px black; }

.groups-item > h1 {
  color: white;
  font-size: 25px; }

.groups-item > h2 {
  color: gray;
  font-size: 17px; }

.groups-item > ul {
  transition: inherit;
  position: absolute;
  top: 0px;
  margin-left: -25px;
  background-color: black;
  width: 100%;
  box-sizing: border-box;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 10px 0; }

.groups-item > ul > li > h1 {
  margin: 0px;
  box-sizing: content-box;
  color: white;
  padding: 10px;
  font-size: 18px;
  transition-duration: .2s; }

.groups-item > ul > li > h1 > i {
  float: right;
  margin-right: 10px; }

.groups-item:hover {
  transform: translateY(-50%);
  filter: drop-shadow(0 0 0.8rem #0c0c0c); }

.groups-item > ul {
  opacity: 0;
  z-index: 900;
  list-style: none; }

.groups-item:hover > ul {
  opacity: 1;
  top: 210px; }

.groups-item > ul > li > h1:hover {
  background-color: #111111;
  cursor: pointer; }

@media only screen and (min-width: 550px) {
  .category {
    padding-bottom: 40px; } }
