.page-title {
  font-size: 30px;
  color: white;
  margin: 0px;
  margin-bottom: 10px; }

.page-description {
  font-size: 15px;
  color: var(--grey);
  margin: 0px; }

.title-container {
  margin: 20px auto; }

.entry {
  display: flex;
  align-items: center;
  padding: 0px 30px;
  height: 90px;
  transition: all .18s ease-in-out;
  gap: 20px; }

.entry:hover {
  transform: scale(1.02);
  cursor: pointer; }

.entry > img {
  height: 60px;
  border-radius: 10px;
  image-rendering: pixelated; }

.entry > h1 {
  text-align: center;
  text-shadow: 1px 1px 4px black;
  font-size: 45px;
  color: white;
  margin: 0px;
  margin-left: -15px;
  margin-right: -5px;
  min-width: 55px;
  min-height: 55px; }

.entry > i {
  font-size: 20px;
  color: white;
  margin-left: auto;
  display: none; }

.entry .username {
  text-align: left;
  color: white;
  font-size: 21px;
  margin: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.stat {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 6px; }

.stat > .value {
  margin: 0px;
  font-size: 19px;
  color: white; }

.stat > .label {
  margin: 0px;
  font-size: 13px;
  color: var(--grey); }

#e-1 > h1 {
  background-color: gold;
  border-radius: 50px; }

#e-2 > h1 {
  background-color: silver;
  border-radius: 50px; }

#e-3 > h1 {
  background-color: #CD7F32;
  border-radius: 50px; }

#e-end {
  display: none;
  font-size: 20px; }

#e-end > h1 {
  font-size: 30px;
  color: white;
  margin-top: 0px; }

#e-end > h2 {
  font-size: 15px;
  color: lightgray;
  margin-bottom: 0px; }

.bar {
  display: none;
  border-bottom: 3px solid var(--green);
  width: 100%;
  position: relative;
  margin: 0px 15px;
  margin-right: 20px;
  transform: translateY(20px); }

.bar > div {
  position: absolute;
  bottom: -9px;
  height: 16px;
  width: 16px;
  background: var(--green);
  border-radius: 100%;
  filter: drop-shadow(0 0 1rem #0c0c0c); }

.bar > div > h1 {
  margin: 0px;
  margin-left: -100%;
  margin-right: -100%;
  text-align: center;
  transform: translateY(-42px);
  color: var(--grey);
  font-size: 15px;
  text-shadow: 1px 1px 4px black; }

.bar > div > h1#value {
  color: white;
  font-size: 16px; }

.bar > div#none > h1#value {
  transform: translateY(-22px); }

#none {
  z-index: 2; }

#best {
  z-index: 3;
  left: calc(100% - 16px); }

#you {
  left: calc(50% - 18px);
  z-index: 100; }

.loading * {
  background-color: black !important;
  color: transparent !important;
  border-radius: 20px !important;
  filter: brightness(0) !important;
  animation: loadingAnimation 1s ease-in-out 1s infinite;
  animation-play-state: running; }

@keyframes loadingAnimation {
  0% {
    background-color: #0e0e0e !important; }
  50% {
    background-color: #222222 !important; }
  100% {
    background-color: grey !important; } }

.top-3-container {
  height: 150px;
  width: 150px;
  position: relative;
  display: none; }

.top-3-container > div {
  background-color: var(--grey);
  width: 40px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px; }

.top-3-container > div:nth-child(1) {
  height: 65px;
  transform: translateX(-66px); }

.top-3-container > div:nth-child(2) {
  height: 100px;
  background-color: var(--green); }

.top-3-container > div:nth-child(3) {
  height: 28px;
  transform: translateX(25px); }

.top-3-container > div > h1 {
  margin: 0px;
  margin-top: -35px;
  font-size: 15px;
  color: white; }

.top-3-container > div > img {
  transform: translateY(-42px);
  height: 20px;
  image-rendering: pixelated;
  border-radius: 2px; }

@media only screen and (min-width: 950px) {
  .bar {
    display: block; }
  .entry > i {
    display: block; }
  .top-3-container {
    display: block; }
  .title-container {
    margin: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); } }

.filtersPage {
  text-align: left;
  display: none;
  position: absolute;
  padding: 15px;
  top: 40px;
  left: 0px;
  z-index: 999;
  max-width: 300px;
  min-width: 300px; }

.filtersPage > .rank-container {
  gap: 10px;
  display: flex;
  flex-wrap: wrap; }
