.g-name {
    font-size: 30px;
    text-align: left;
    color: #ffffff;
    margin: 10px;
}
.g-uuid {
    text-align: left;
    color: #a5a5a5;
    font-weight: 500;
    margin: 10px;
    font-size: 16px;
}
.g-character {
    margin: 0px;
    visibility: hidden;
}
.g-character-div {
    width: 0px;
}
@media only screen and (min-width: 550px) {
    .g-character {
        visibility: visible;
    }
    .g-character-div {
        width: auto;
    }
}


.g-stats-label {
    font-size: 15px;
    text-align: left;
    color: #ffffff;
    margin: 10px;
}
.g-stats-value {
    text-align: left;
    color: #a5a5a5;
    font-weight: 500;
    margin: 10px;
    font-size: 15px;
}