/* ===== Colors ===== */
:root {
    --green: rgb(0, 170, 51);
    --grey: rgb(124, 124, 124);
}


/* ===== Page ===== */
html {
    font-family: 'Open Sans', sans-serif;
    background-image: url("/assets/images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
html, body {
    margin: 0;
}


/* ===== Grid ===== */
.grid-container {
    display: grid;
    grid-template-columns: 1;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
.grid-container > div {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
}
.box {
    background-color: #1b1b1bbe;
    border-radius: 0px;
    backdrop-filter: blur(15px);
    margin: 0px;
    padding: 0px;
}
/* Tablet and Desktop */
@media only screen and (min-width: 550px) {
    .grid-container {
        grid-template-columns: repeat(10, 1fr);
        padding: 20px;
    }
    .box {
        border-radius: 35px;
        padding: 40px;
    }
}


/* ===== Other ===== */
.inner-box {
    background-color: rgba(27, 27, 27, 0.699);
    border-radius: 20px;
    text-align: center;
    padding: 15px 23px;
    margin: 5px;
}

.c-stats {
    font-size: 17px;
    text-align: left;
    color: #ffffff;
    font-weight: bold;
    display: inline;
    margin: 2px;
    vertical-align: middle;
}
.c-stats-value {
    color: #a5a5a5;
}


.button {
    border: none;
    color: white;
    padding: 8px 11px;
    text-align: center;
    font-size: 14px;
    border-radius: 18px;
    font-weight: bold;
    transition-duration: 0.4s;
}