header {
	position: sticky;
	top: 0;
	z-index: 999;
}
.header {
	background-color: #282828;
	padding: 25px;
	text-align: center;
}


.h-logo {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 10px;
	left: 10px;
}
.h-name {
	color: #ffffff;
	font-size: 20px;
	text-align: left;
	position: absolute;
	top: 0;
	left: 50px;
}


.h-button {
	top: 9px;
	position: absolute;
	visibility: hidden;
}
.h-button-small {
	top: 9px;
	position: absolute;
	visibility: visible;
}


.h-discord {
	background-color: #5865F2;
	right: 10px;
}
.h-discord:hover {
	background-color: #808af7;
}


.h-website {
	background-color: #3a3a3a;
	right: 118px;
}
.h-website:hover {
	background-color: #666666;
}


.h-search {
	background-color: #666666;
	right: 223px;
}
.h-search-small {
	background-color: #666666;
	right: 10px;
}
.h-search:hover, .h-search-small:hover {
	background-color: #919191;
}


.search:focus{
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
    width: 363px;
	padding: 0 0 0 16px;
}
.search {
	position: absolute;
    top: 9px;
	right: 223px;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
    height: 32px;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}


.search-small:focus{
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
    width: 150px;
	padding: 0 0 0 16px;
}
.search-small {
	position: absolute;
    top: 9px;
	right: 10px;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
    height: 32px;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}


/* For Tablet and Desktop */
@media only screen and (min-width: 600px) {
	.h-button {
		visibility: visible;
	}
	.h-button-small {
		visibility: hidden;
	}
}