//
// Title
//
.title-container {
    margin: 20px auto;
}
.page-title {
    font-size: 30px;
    color: white;
    margin: 0px;
    margin-bottom: 10px;
}
.page-description {
    font-size: 15px;
    color: var(--grey);
    margin: 0px;
}




//
// Leaderboard Entry
//
entry.entry {
    display: flex;
    align-items: center;
    padding: 0px 30px;
    height: 90px;
    transition: all .18s ease-in-out;
    gap: 20px;
}
entry.entry:hover {
    transform: scale(1.02);
    cursor: pointer;
}
entry.entry > img-div {
    height: 60px;
    width: 60px;
    min-width: 60px;
    border-radius: 10px;
    image-rendering: pixelated;
    overflow: hidden;
}
entry.entry > img-div > img {
    width: 100%;
}
entry.entry > h1 {
    text-align: center;
    text-shadow: 1px 1px 4px black;
    font-size: 45px;
    color: white;
    margin: 0px;
    margin-left: -15px;
    margin-right: -5px;
    min-width: 55px;
    min-height: 55px;
}
entry.entry > i {
    font-size: 20px;
    color: white;
    margin-left: auto;
    display: none;
}
entry.entry > data-div > h1 {
    text-align: left;
    color: white;
    font-size: 21px;
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
entry.entry > data-div > stat-div {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 6px;
}
entry.entry > data-div > stat-div > .value {
    margin: 0px;
    font-size: 19px;
    color: white;
}
entry.entry > data-div > stat-div > .label {
    margin: 0px;
    font-size: 13px;
    color: var(--grey);
}




//
// LB Entry - Colored Top 3
//
entry.entry:nth-of-type(1) > h1 {
    background-color: gold;
    border-radius: 50px;
}
entry.entry:nth-of-type(2) > h1 {
    background-color: silver;
    border-radius: 50px;
}
entry.entry:nth-of-type(3) > h1 {
    background-color: #CD7F32;
    border-radius: 50px;
}




//
// End Card Entry
//
end.end {
    text-align: center;
}
end.end > h1 {
    font-size: 30px;
    color: white;
    margin-top: 0px;
}
end.end > h2 {
    font-size: 15px;
    color: lightgray;
    margin-bottom: 0px;
}




//
// LB Entry - Progress Bar
//
entry.entry > bar-line {
    display: none;
    background-color: var(--green); 
    height: 3px;
    width: 100%;
    position: relative;
    margin: 0px 15px;
    margin-right: 20px;
    transform: translateY(20px);
}
entry.entry > bar-line > point {
    position: absolute;
    bottom: -6px; 
    height: 16px; 
    width: 16px; 
    background: var(--green); 
    border-radius: 100%;
    filter: drop-shadow(0 0 1rem rgb(12, 12, 12));
}
entry.entry > bar-line > point > h1 {
    margin: 0px;
    margin-left: -100%;
    margin-right: -100%;
    text-align: center;
    transform: translateY(-42px);
    color: var(--grey);
    font-size: 15px;
    text-shadow: 1px 1px 4px black;
}
entry.entry > bar-line > point > h1#value {
    color: white;
    font-size: 16px;
}
entry.entry > bar-line > point#none > h1#value {
    transform: translateY(-22px);
}
entry.entry > bar-line > point#none {
    z-index: 2;
}
entry.entry > bar-line > point#best {
    z-index: 3;
    left: calc(100% - 16px);
}
entry.entry > bar-line > point#you {
    left: calc(50% - 18px);
    z-index: 100;
}




//
// Top 3 Podium
//
.top-3-container {
    height: 150px;
    width: 150px;
    position: relative;
    display: none;
}
.top-3-container > div {
    background-color: var(--grey);
    width: 40px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}
.top-3-container > div:nth-child(1) { // 2nd
    height: 65px;
    transform: translateX(-66px);
}
.top-3-container > div:nth-child(2) { // 1st
    height: 100px;
    background-color: var(--green);
}
.top-3-container > div:nth-child(3) { //3rd
    height: 28px;
    transform: translateX(25px);
}
.top-3-container > div > h1 {
    margin: 0px;
    margin-top: -35px;
    font-size: 15px;
    color: white;
}
.top-3-container > div > img {
    transform: translateY(-42px);
    height: 20px;
    image-rendering: pixelated;
    border-radius: 2px;
    // animation: shake 4s;
    // animation-iteration-count: infinite;

    // @for $i from 1 through 3 {
    //     &:nth-child(#{$i}) {
    //       animation-delay: 100ms * $i;
    //     }
    // }
}




//
// Media Queries
//
@media only screen and (min-width: 950px) {
    entry.entry > bar-line {
        display: block;
    }
    entry.entry > i {
        display: block;
    }
    .top-3-container {
        display: block;
    }
    .title-container {
        margin: 0px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    entry.entry > data-div {
        min-width: 170px;
    }
}