<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/_head-home') %>
        <title>Home | MCBB Stats</title>
    </head>
    <%- include('../partials/_header') %>

    <body>
        <div class="grid-container">



            <!-- Announcement Box -->
            <div class="announcement box">
                <h1 class="a-title">Welcome To The MCBlockBuilds Stats Page</h1>
                <h1 class="a-description">Here you can view all your game stats in one place!  Vizualize your progression and advancment throughout every gamemode, and share a quick link to your friends!</h1>
            </div>


            
            <!-- View Stats Box -->
            <div class="namePrompt box" style="padding-left: 0px; padding-right: 0px;">
                <h1 class="a-title">View Player Stats Of</h1>

                <form action="/submitName" method = "post">
                    <input class="username-input" type="text" placeholder="Enter A Username" name="username" required/>
                    <div class="button-div">
                        <button class="button submit-button">VIEW STATS</button>
                    </div>
                </form>
            </div>



        </div>
    </body>
</html>