<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/_head-leaderboard') %>
    </head>
    <%- include('../partials/_header') %>

    <body>
        <div class="grid-container">

            <div class="box section">
                <h1 class="page-title">All Leaderboards</h1>
                <h1 class="a-description">Here you can view all your game stats in one place!  Vizualize your progression and advancment throughout every gamemode, and share a quick link to your friends!</h1>
            </div>



            <div class="box section">
                <h1 class="section-title">Themeparks Leaderboards</h1>


                <!-- Single Item -->
                <div class="single-item">
                    <i class="icon fa-solid fa-coins" style="color:rgb(255, 230, 0);"></i>
                    <div>
                        <h1>Coins</h1>
                        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                    </div>
                    <i class="link fa-solid fa-arrow-up-right-from-square"></i>
                </div>


                <div class="groups-container">
                    
                    <!-- Groups Item -->
                    <div class="groups-item">
                        <h1>Rides</h1>
                        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>

                        <!-- Dropdown -->
                        <div>
                            <h1>Some Ride</h1>
                            <h1>Some Ride</h1>
                        </div>
                    </div>



                    <div class="groups-item">
                        <h1>Games</h1>
                        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>

                        <!-- Dropdown -->
                        <div>
                            <h1>Some Ride</h1>
                            <h1>Some Ride</h1>
                        </div>
                    </div>

                    <div class="groups-item">
                        <h1>Theme Parks</h1>
                        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>

                        <!-- Dropdown -->
                        <div>
                            <h1>Some Ride</h1>
                            <h1>Some Ride</h1>
                        </div>
                    </div>

                    <div class="groups-item">
                        <h1>Theme Parks</h1>
                        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>

                        <!-- Dropdown -->
                        <div>
                            <h1>Some Ride</h1>
                            <h1>Some Ride</h1>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </body>
</html>