<!DOCTYPE html>
<html lang="en">


    <head>
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <link rel="stylesheet" href="/css/columns.css" type="text/css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cat Fact</title>
    </head>


    <%- include('../partials/_header') %>


    <body>


        <div class="row">


            <!-- Fact -->
            <div class="col-12 col-s-12">
                <div class="box">
                    <h1 class="title">Welcome Back</h1>

                    <p id="name" class="fact"><%= username %></p>
                </div>
            </div>


        </div>


        <!-- Credit -->
        <div class="row">
            <p class="credit">Created By IEatBeans</p>
        </div>


        <!-- <script src="/js/main.js"></script> -->

    </body>


</html>