/* ===== Variables ===== */
:root {
    --header-black: #222222;

    --green: rgb(0, 170, 51);
    --green-hover: rgb(0, 219, 66);

    --grey: rgb(124, 124, 124);
    --grey2: rgba(109, 109, 109, 0.705);

    --black: #000000ad;
    --black2: #3a3a3a8a;

    --font: 'Montserrat', sans-serif;

    // Tablet-Min: 550px
    // Desktop-Min: 1200px
}



/* ===== Page ===== */
html {
    background-color: var(--header-black);
    font-family: var(--font);
    background-image: url("/assets/images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
html, body {
    margin: 0;
}



/* ===== Grid ===== */
.grid-container {
    display: grid;
    grid-template-columns: 1;
    gap: 20px;
    padding: 20px 0px;
    margin-left: auto;
    overflow: visible;
    margin-right: auto;
}
  
.grid-container > div {
    overflow: hidden;
    text-align: center;
    font-size: 30px;
}
.box {
    background-color: var(--black);
    border-radius: 0px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px);
    margin: 0px;
    padding: 15px 10px;
    
    animation: popInAnimation 0.5s;
    animation-fill-mode: backwards;

    @for $i from 1 through 50 {
        &:nth-child(#{$i}) {
          animation-delay: 20ms * $i;
        }
    }
}
/* Tablet */
@media only screen and (min-width: 550px) {
    .grid-container {
        padding: 20px;
        width: 80%
    }
    .box {
        border-radius: 35px;
        padding: 30px 40px;
    }
}
/* Desktop */
@media only screen and (min-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        width: 1000px;
    }
}



/* ===== Other ===== */
.inner-box {
    display: flex;
    align-items: center;
    gap: 7px;
    background-color: var(--black2);
    border-radius: 20px;
    text-align: center;
    padding: 18px 23px;
}

.c-stats {
    font-size: 17px;
    text-align: left;
    color: white;
    font-weight: bold;
    display: inline;
    margin: 2px;
    vertical-align: middle;
}
.c-stats-value {
    color: var(--grey);
}

.button {
    font-family: var(--font);
    border: none;
    color: white;
    padding: 8px 11px;
    text-align: center;
    font-size: 14px;
    border-radius: 18px;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
}

@keyframes popInAnimation {
    0% { opacity: 0; transform: scale(1); }
    1% { opacity: 0; transform: scale(0.5); }
    100% { opacity: 1; transform: scale(1); }
}



/* ===== Tooltip ===== */
  
// Text
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: var(--header-black);
    color: white;
    text-align: center;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;

    position: absolute;
    z-index: 1;

    bottom: 100%;
    left: 50%;
    transform: translate(-50%, -10px);

    transition: opacity 0.3s;
    opacity: 0;

    min-width:200px;
    max-width:200px;
}

.tooltip {
    position: relative;
}
  
// On hover
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.t-heading {
    color: var(--grey);
    font-weight: bold;
    font-size: 18px;
    margin: 10px;
    margin-bottom: 0px;
}

.t-text {
    margin: 0px;
    margin-bottom: 25px;
    color: white;
    font-size: 15px;
}



.chip-container {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: auto;
    white-space: nowrap;
    margin-left: 5px;
}
/* Tablet & Desktop */
@media only screen and (min-width: 550px) {
    .chip-container {
        margin-left: 0px;
    }
}
.chip {
    display: inline-flex;
    margin: 0px;
    padding: 7px 14px;
    align-items: center;
    gap: 7px;
    border-radius: 35px;
    transition-duration: 0.15s;
}
.chip > i {
    font-size: 16px;
    color: white;
}
.chip > h1 {
    font-size: 16px;
    color: white;
    margin: 0px;
}

.action-chip:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.vertical-divider {
    display: inline;
    border-left: 2px solid darkgray;
    height: 80%;
}

.removable-chip {
    border: 1px solid var(--green);
}
.removable-chip > i {
    font-size: 17px;
    margin-left: 3px;
    color: white;
}
.removable-chip > i:hover {
    color: gray;
    cursor: pointer;
}








@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}