/* ===== Variables ===== */
:root {
    --header-black: #222222;

    --green: rgb(0, 170, 51);
    --green-hover: rgb(0, 219, 66);

    --grey: rgb(124, 124, 124);
    --grey2: rgba(109, 109, 109, 0.705);

    --black: #000000ad;
    --black2: #333333;

    --font: 'Montserrat', sans-serif;

    // Tablet-Min: 550px
    // Desktop-Min: 1200px
}



/* ===== Page ===== */
html {
    background-color: var(--header-black);
    font-family: var(--font);
    background-image: url("/assets/images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
html, body {
    margin: 0;
    overflow-x: hidden; // Never allowed to horizontally scroll the page
}



/* ===== Grid ===== */
.grid-container {
    display: grid;
    grid-template-columns: 1;
    gap: 20px;
    padding: 20px 0px;
    margin-left: auto;
    margin-right: auto;
}
  
.grid-container > div {
    text-align: center;
    font-size: 30px;
}
.box {
    background-color: var(--black);
    border-radius: 0px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px);
    margin: 0px;
    padding: 15px 10px;
    
    animation: popInAnimation 0.5s;
    animation-fill-mode: backwards;

    @for $i from 1 through 50 {
        &:nth-child(#{$i}) {
          animation-delay: 20ms * $i;
        }
    }
}
/* Tablet */
@media only screen and (min-width: 550px) {
    .grid-container {
        padding: 20px;
        width: 80%
    }
    .box {
        border-radius: 35px;
        padding: 30px 40px;
    }
}
/* Desktop */
@media only screen and (min-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        width: 1000px;
    }
}



/* ===== Other ===== */
.inner-box {
    display: flex;
    align-items: center;
    gap: 7px;
    background-color: var(--black2);
    border-radius: 20px;
    text-align: center;
    padding: 18px 23px;
}

.c-stats {
    font-size: 17px;
    text-align: left;
    color: white;
    font-weight: bold;
    display: inline;
    margin: 2px;
    vertical-align: middle;
}
.c-stats-value {
    color: var(--grey);
}

.button {
    font-family: var(--font);
    border: none;
    color: white;
    padding: 8px 11px;
    text-align: center;
    font-size: 14px;
    border-radius: 18px;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
}

@keyframes popInAnimation {
    0% { opacity: 0; transform: scale(1); }
    1% { opacity: 0; transform: scale(0.5); }
    100% { opacity: 1; transform: scale(1); }
}



/* ===== Tooltips/Hovercards ===== */
.tooltipparent { position: relative; }
.tooltipparent .tooltip {
    visibility: hidden;
    background-color: var(--header-black);
    color: white;
    text-align: center;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;

    position: absolute;
    z-index: 1;

    bottom: 100%;
    left: 50%;
    transform: translate(-50%, -10px);

    transition: all 0.25s ease-in-out;
    opacity: 0;

    min-width:200px;
    max-width:200px;

    filter: drop-shadow(0 0 1rem rgb(12, 12, 12));
}
  
// On hover
.tooltipparent:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

// Triangle
.tooltip::after{
    content: '';
    position: absolute;
    left: calc(50% - 20px);
    top: 100%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--green);
    clear: both;
}

// Text
.t-heading {
    color: var(--grey) !important;
    font-weight: bold !important;
    font-size: 18px !important;
    margin: 10px !important;
    margin-bottom: 0px !important;
}
.t-text {
    margin: 0px !important;
    margin-bottom: 25px !important;
    color: white !important;
    font-size: 15px !important;
}

// Item Lore Varient
.tooltipparent .loretooltip {
    overflow: hidden;
    bottom: 0;
    left: 0;
    transform: translate(-110%, 40%); // translate(calc(-100%+20px), calc(50%-35px));
}
.tooltipparent .loretooltip > div {
    width: calc(100% + 30px);
    margin: -10px -15px;
    margin-bottom: 20px;
    height: 60px;
    background-color: gold;
    font-size: 21px;
    line-height: 60px;
}
.tooltipparent .loretooltip > h1 {
    font-size: 16px;
    line-height: 15px;;
}





.chip-container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0 5px;
}
.chip {
    display: inline-flex;
    box-sizing: border-box;
    height: 35px;
    margin: 0px;
    padding: 7px 14px;
    align-items: center;
    gap: 7px;
    border-radius: 35px;
    transition-duration: 0.15s;
}
.chip > i {
    font-size: 16px;
    color: white;
}
.chip > h1 {
    font-size: 16px;
    color: white;
    margin: 0px;
}
.chip > img {
    margin-top: -2px;
    margin-bottom: -2px;
    margin-left: -8px;
    height: 23px;
    image-rendering: pixelated;
    border-radius: 50%;
}

.action-chip:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.vertical-divider {
    display: inline;
    border-left: 2px solid darkgray;
    height: 30px;
}

.removable-chip {
    border: 1px solid var(--green);
}
.removable-chip > i {
    font-size: 17px;
    margin-left: 3px;
    color: white;
}
.removable-chip > i:hover {
    color: gray;
    cursor: pointer;
}




.loading * {
    background: var(--header-black);
    background: linear-gradient(110deg, var(--header-black) 8%, var(--black2) 18%, var(--header-black) 33%);
    border-radius: 20px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}
@keyframes shine { to { background-position-x: -200%; } }




@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}