header {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 999;
	background-color: var(--header-black);
	height: 50px;
	gap: 7px;
	padding: 0 7px;
}


/* Logo and Name */
.h-logo {
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.h-name {
	color: white;
	font-size: 18px;
	cursor: pointer;
}

// Info Button
.h-info {
	color: lightgray;
	font-size: 19px;
	margin-left: 5px;
	cursor: pointer;
	transition-duration: color 0.4s;
}
.h-info:hover {
	color: white;
}

.info-box[expanded=false] {display: none}
.info-box[expanded=true] {
	max-width: 500px;
	position: absolute;
	margin: 0px;
	z-index: 998;
	background-color: var(--header-black);
	color: white;
	display: block;
	padding: 30px;
	filter: drop-shadow(0 0 1rem rgb(12, 12, 12));
}
.info-box a {
	color: var(--green);
	text-decoration: none;
}
.info-box p {
	margin: 4px 0;
}
.info-box h2 {
	margin-top: 40px;
	margin-bottom: 16px;
}
.info-box > div {
	position: absolute;
	width: 1000px;
	height: 1000px;
	left: -100px;
	top: -100px;
	z-index: 30;
	background-color: rgba(0, 0, 0, 0.322);
}

/* Buttons */
.h-leaderboard {
	background-color: var(--green);
}
.h-leaderboard:hover {
	background-color: var(--green-hover);
}
.h-leaderboard-label {
	display: none;
	padding: 0px;
}

.h-discord {
	background-color: #5865F2;
	display: none;
}
.h-discord:hover {
	background-color: #808af7;
}

.h-website {
	background-color: #3a3a3a;
	display: none;
}
.h-website:hover {
	background-color: #666666;
}


/* Search */
.h-search {
	background-color: #666666;
}
.h-search:hover {
	background-color: #919191;
}
.h-search-label {
	display: none;
	padding: 0px;
}
.h-search-input {
	width: 0;
	padding: 0px;
	padding-top: inherit;
	padding-bottom: inherit;
	outline: none;
	border: none;
	z-index: 10;
	position: absolute;
	right: -1px;
	top: -2px;
}
.h-search-input:focus {
	padding: inherit;
	width: 200px;
}


/* Desktop and Tablet */
@media only screen and (min-width: 760px) {
	.h-name {font-size: 20px;}
	.h-discord {display: inline;}
	.h-website {display: inline;}
	.h-leaderboard-label {display: inline;}
	.h-search-label {display: inline;}

	.h-search-input:focus {
		width: 363px;
	}
	.h-search-input {
		top: 0;
	}

	.info-box[expanded=true] {
		margin: 25px 20px;
	}
}