---
permalink: "/"
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/_head-home') %>
        <title>Home | MCBB Stats</title>
    </head>
    <%- include('../partials/_header') %>

    <body>
        <grid-container>



            <!-- Welcome Box -->
            <div animate class="section announcement box">
                <h1 class="a-title">Welcome To The MCBlockBuilds Stats Page</h1>
                <h1 class="a-description">Here you can view all your game stats in one place!  Vizualize your progression and advancment throughout every gamemode, and share a quick link to your friends!</h1>
            </div>


            
            <!-- View Stats Box -->
            <div animate class="section namePrompt box" style="padding-left: 0px; padding-right: 0px;">
                <h1 class="a-title">View Player Stats Of</h1>

                <iframe name="dummyframe" id="dummyframe" style="display: none"></iframe>
                <form onsubmit="return submitName();" target="dummyframe">
                    <div class="username-error"></div>
                    <input class="username-input" type="text" placeholder="Enter A Username" name="username" id="username-input" required/>
                    <div class="button-div">
                        <button class="button submit-button">VIEW STATS</button>
                    </div>
                </form>
            </div>



            <!-- Leaderboard Links -->
            <div class="section chip-container">

                <div animate class="box chip action-chip" onClick="window.location.href='/leaderboard'">
                    <i class="fa-solid fa-ranking-star"></i>
                    <h1>Full Leaderboard</h1>
                </div>

            </div>



            <!-- Top Players Section -->
            <div class="section tpc-parent">

                <!-- Top Players Boxes -->
                <div class="top-players-container">

                    <!-- Element is duplicated in home.js -->
                    <template has="entry">
                        <entry animate skeleton class="box tp-item">
                            <img style="height: 64px; border-radius: 10px; image-rendering: pixelated;">
                            <div style="padding-left: 20px;">
                                <h1 id='tp-username' class="tp-main" style="display: block">USERNAME</h1>
        
                                <h1 id='tp-category' class="tp-main tp-sub" style="display: block">CATEGORY OF ENTRY</h1>
        
                                <div style="text-align: left; padding:0px; line-height: 20px;margin-top: 5px">
                                    <i class="tp-main fa-solid fa-coins" style="color:rgb(255, 230, 0); font-size: 20px; margin-right: 3px;"></i>
                                    <h1 id="tp-stat" class="tp-main">STAT</h1>
                                    <h1 id='tp-value' class="tp-main tp-value" style="margin-left: 3px;">VALUE</h1>
                                </div>
                            </div>
                        </entry>
                    </template>
    
                </div>
            </div>



        </grid-container>
        <script src="/js/utils.js"></script>
        <script src="/js/usernameChecks.js"></script>
        <script src="/js/home.js"></script>
    </body>
</html>