<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/global/global.css">
        <link rel="stylesheet" href="/css/pages/home/home.css">
        <link rel="stylesheet" href="/css/pages/leaderboards/leaderboard-grid.css">
        <link rel="stylesheet" href="/css/pages/leaderboards/leaderboard.css">
        <link rel="icon" type="image/x-icon" href="/assets/images/logo.png">
        <script src="https://kit.fontawesome.com/56772e7f1a.js" crossorigin="anonymous"></script>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Leaderboard | MCBB Stats</title>
    </head>
    <%- include('../../partials/_header') %>

    <body>
        <grid-container skeleton>

            <div animate class="box section top-box">
                <div class="top-3-container"  style="float: left">
                    <div class="solid">
                        <img>
                        <h1>2</h1>
                    </div>

                    <div class="solid">
                        <img>
                        <h1>1</h1>
                    </div>

                    <div class="solid">
                        <img>
                        <h1>3</h1>
                    </div>
                </div>
                <div class="title-container">
                    <h1 class="page-title">Leaderboard Name</h1>
                    <h1 class="page-description">Leaderboard Description</h1>
                </div>
            </div>



            <!-- Filter Chips -->
            <div id="f-container" class="section chip-container">


                <!-- Search bar -->
                <iframe name="dummyframe" id="dummyframe" style="display: none"></iframe>
                <form class="search-chip-container" onsubmit="return submitNameFilter();" target="dummyframe">

                    <!-- Search chip -->
                    <div animate class="box chip action-chip" onClick='return openSearchBar()'>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <h1>Search</h1>
                    </div>

                    <input class="box chip searchBar" name="username" placeholder="Username" required>
                    <div class="search-error"></div>
                </form>

                <div class="filter-chip-container">
                    <!-- Filter chip -->
                    <div animate class="box chip action-chip" onClick='return openFiltersPage()'>
                        <h1>Filters</h1>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>

                    <!-- Filter page -->
                    <div class="box chip filtersPage">
                        <h1>Ranks</h1>
                        <div id='Rank-container' class="sub-container"></div>
                    </div>
                </div>

                <div class="vertical-divider"></div>

                <!-- Filter Item Template (mode: [remove = X, add = Nothing, greyed = Greyed Check]) -->
                <template id="filter-item-template">
                    <div filter="Tem:None" mode="remove" class="box chip removable-chip filter-item" onClick="return clickedFilter(this)"> 
                        <h1>Name</h1>
                    </div>
                </template>

            </div>



            <!-- LB Entry Template -->
            <template has="entry">
                <entry animate skeleton class="box section entry">
                    <h1>1</h1>
                    <img-div class="solid"><img src="https://crafatar.com/avatars/910b8e50-7cc3-4062-8f0a-f9fbd4a9b935?size=8&overlay"></img-div>

                    <data-div>
                        <h1>IEatBeans</h1>
                        <stat-div>
                            <i class="fa-solid fa-coins" style="color:rgb(255, 230, 0); font-size: 20px; margin-right: 3px;"></i>
                            <h1 class="value">135</h1>
                            <h1 class="label">Coins</h1>
                        </stat-div>
                    </data-div>

                    <bar-line class="solid">
                        <point id="none" class="solid">
                            <h1 id="value">0</h1>
                        </point>
                        <point id="you" class="solid">
                            <h1>This</h1>
                            <h1 id="value">135</h1>
                        </point>
                        <point id="best" class="solid">
                            <h1>Top</h1>
                            <h1 id="value">869</h1>
                        </point>
                    </bar-line>

                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </entry>
            </template>



            <!-- End Of Leaderboard Template -->
            <template has="end">
                <end animate class="box section end">
                    <h1>That's all!</h1>
                    <h2>You have reached the end of this leaderboard.  No more entries can be loaded.</h2>
                </end>
            </template>

        

        </grid-container>
        <script src="/js/pages/leaderboards/board.js"></script>
    </body>
</html>