<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/global/global.css">
        <link rel="stylesheet" href="/css/pages/home/home.css">
        <link rel="stylesheet" href="/css/pages/leaderboards/leaderboard-grid.css">
        <link rel="stylesheet" href="/css/pages/leaderboards/leaderboard-list.css">
        <link rel="icon" type="image/x-icon" href="/assets/images/logo.png">
        <script src="https://kit.fontawesome.com/56772e7f1a.js" crossorigin="anonymous"></script>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Leaderboards | MCBB Stats</title>
    </head>
    <%- include('../../partials/_header') %>

    <body>
        <grid-container skeleton>

            <div animate class="box section">
                <h1 class="page-title">All Leaderboards</h1>
                <h1 class="a-description">Here you can view all your game stats in one place!  Vizualize your progression and advancment throughout every gamemode, and share a quick link to your friends!</h1>
            </div>



            <!-- Search/Jump Chips -->
            <div class="section chip-container">

                <!-- Search bar -->
                <iframe name="dummyframe" id="dummyframe" style="display: none"></iframe>
                <form class="search-chip-container" onsubmit="return submitSearch();" target="dummyframe">

                    <!-- Search chip -->
                    <div animate class="box chip action-chip" onClick='return openSearchBar()'>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <h1>Search For Leaderboard</h1>
                    </div>

                    <input class="box chip searchBar" placeholder="Leaderboard" required>
                    <div class="search-error"></div>
                </form>

                <div class="filter-chip-container">
                    <!-- Jump to chip -->
                    <div animate class="box chip action-chip" onClick='return openJumpToPage()'>
                        <h1>Jump To</h1>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>

                    <!-- Jump to page -->
                    <div class="box chip filtersPage">
                        <h1>Jump To</h1>
                        <hr>
                        <!-- INSERT JUMP TO ITEMS HERE -->
                    </div>
                </div>

            </div>



            <!-- TEMPLATE: "Category" - Insert Into GRID CONTAINER - THIS IS TOP -->
            <template id="category-template">
                <div class="box section category">
                    <h1 class="section-title">Themeparks Leaderboards</h1>

                    <!-- "INDIVIDUAL ITEM" & "GROUP CONTAINER" GO HERE -->

                </div>
            </template>

            <!-- TEMPLATE: "Individual Item" - Insert Into TOP of "Category" -->
            <template id="individual-item-template">
                <div class="single-item" onClick="window.location.href = '/leaderboard/coins'">
                    <i class="icon fa-solid fa-coins" style="color:rgb(255, 230, 0);"></i>
                    <div>
                        <h1>Coins</h1>
                        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                    </div>
                    <i class="link fa-solid fa-angle-right"></i>
                </div>
            </template>

            <!-- TEMPLATE: "Group Container" - Insert Into BOTTOM of "Category" -->
            <template id="group-container-template">
                <div id="c-groups-container" class="groups-container">
                    
                    <!-- "GROUP"S GO HERE -->

                </div>
            </template>

            <!-- TEMPLATE: "Group" - Insert Into "Group Container" -->
            <template id="group-template">
                <div class="groups-item-wrapper">
                    <div class="groups-item">
                        <h1>Rides</h1>
                        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                    </div>
                    <ul>
                        <!-- "GROUPED ITEM"S GO HERE -->
                    </ul>
                </div>
            </template>

            <!-- TEMPLATE: "Grouped Item" - Insert Into "Group" -->
            <template id="grouped-item-template">
                <li>
                    <h1>Some Ride<i class="fa-solid fa-angle-right"></i></h1>
                </li>
            </template>



            <!-- TEMPLATE: "Category" SKELETON -->
            <template id="category-template-skeleton">
                <entry animate skeleton class="box section category">
                    <h1 class="section-title">Themeparks Leaderboards</h1>

                    <!-- Individual Item -->
                    <div class="single-item light-solid">
                        <i class="icon fa-solid fa-coins" style="color:rgb(255, 230, 0);"></i>
                        <div>
                            <h1>Coins</h1>
                            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                        </div>
                        <i class="link fa-solid fa-angle-right"></i>
                    </div>

                    <!-- Individual Item -->
                    <div class="single-item light-solid">
                        <i class="icon fa-solid fa-coins" style="color:rgb(255, 230, 0);"></i>
                        <div>
                            <h1>Coins</h1>
                            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                        </div>
                        <i class="link fa-solid fa-angle-right"></i>
                    </div>

                    <div id="c-groups-container" class="groups-container">
                    
                        <!-- Group Item -->
                        <div class="groups-item-wrapper" onmouseover="popOutCard(this)">
                            <div class="groups-item light-solid">
                                <h1>Rides</h1>
                                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                            </div>
                            <ul>
                                
                            </ul>
                        </div>

                        <!-- Group Item -->
                        <div class="groups-item-wrapper">
                            <div class="groups-item light-solid">
                                <h1>Rides</h1>
                                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                            </div>
                            <ul>
                                
                            </ul>
                        </div>
    
                    </entry>

                </div>
            </template>
        

        </grid-container>
        <script src="/js/utils.js"></script>
        <script src="/js/pages/leaderboards/leaderboard-list.js"></script>
    </body>
</html>